:root {
    --left-pad: 7%;
}
html,
body {
    font-family: "fira-sans", Helvetica, Arial, sans-serif;
    height: 100%;
}
div, 
section,
nav{
    display: flex;
}
.banner {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 18%;
    padding-left: var(--left-pad);
    padding-bottom: 12%;
    font-size: 7vw;
    color: #FFFFFF;
    background-image: linear-gradient(to bottom right, #19B4C6, #078AA4);
}
.link-text {
    cursor: pointer;
    margin-top: 5%;
    font-size: 3vw;
    color: #9AD2DD;
}
.link-text i {
    padding-left: 42vw;
    font-size: 4.5vw;
    color: white;
}
.link-box {
    justify-content: space-between;
    padding-left: var(--left-pad);
    background-color: #27212C;
}
.link-box-text {
    flex-direction: column;
    justify-content: center;
    padding: 9% 0%;
    font-size: 3vw;
    color: #81728D;
}
.arrow-box {
    align-items: center;
    justify-content: center;
    width: 25%;   
    font-size: 7vw;
    cursor: pointer;
    color: white;
    background-color: #BC3183;
    transition: all 0.5s;
}
.arrow-box:hover {
    width: 20%;
}
.media {
    flex-direction: row;
    align-items: flex-start;
}
.media .item {
    width: 33.333%;
}
.media .item:first-child {
    cursor: pointer;
}
article {
    flex-direction: column;
    padding: var(--left-pad);
    background-color: #EBEBEB;
    color: #7B7B7B;
}
article h1 {
    color: #088CA5;
    font-size: 5vw;
}
.content {
    font-size: 2vw;
}
.content span:first-child {
    margin-right: 40px; 
}
@media screen and (max-width: 640px){
    .media {
        flex-direction: column;
    }
    .media .item {
        width: 100%;
    }
    .content {
        flex-direction: column;
        font-size: 4vw;
    }
    .content span:first-child {
        margin-right: unset;
    }
}