.nav-btns a {
    display: block;
    padding: 4vw 1vw;
    float: left;
    text-decoration: none;
    text-align: center;
    font-size: 1.8vw;
    color: white;
    transition: font-size 0.5s;
}
.nav-btns a:hover {
    font-size: 3vw;
    box-shadow: inset 0 -1vw 0 0 cyan;
    background-color: #202529;
}