.topnav {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background-color: #373C3F;
}
.topnav h1 {
    font-weight: normal;
    display: none;
    font-size: 4vw;
}
@media screen and (max-width: 640px){
    .topnav {
        padding-left: 7%;
        height: 10vw;
        background-color: #373C3F;
        color: #FFFFFF;
    }
    .topnav .nav-btns {
        display: none;
    }
    .topnav h1 {
        display: inline;
    }
}