body {
    margin: 0;
}

a {
   color: white;
}

header {
   position: fixed;
   box-sizing: border-box;
   width: 100%;
   text-transform: uppercase; 
   background-color: rgba(49, 49, 49, 0.87);
   color: #c9b8b8;
   font-family: sans-serif;
   padding-bottom: 1vh;
   padding: 1vh 1vw 1vh 1vw;
   /*padding-left increases height????*/
}

header .menu {
   display: flex;
   align-content: center;
   justify-content: flex-start;
   flex-wrap: wrap;
}

header .menu .menu-item {
   padding: 0.7em;
   height: 1em;
   display: inline-block;
}

.page {
   height: 100vh;   
}

.page-1 {
   background-color: rgb(72, 157, 183);
   
   display: flex;
   justify-content: flex-start;
   align-items: center;
    /*todo - gradient*/
}

.page-1 .content {
   padding: 100px;
   color: white;
   font-family: sans-serif;
   font-size: 6.5vw;
   
}

.page-1  h1 {   
   font-weight: 300;
   margin: 3vh 0;
   font-size: 1em;
}

.page-1 .content a {
   color: #a1c0cb;
   font-size: 0.5em;
   
}

.page-1 .content a:hover {
   color: #90acb5;
}

