body {
   margin: 0;
   font-family: sans-serif;
}

a {
   color: white;
}

header {
   position: fixed;
   box-sizing: border-box;
   width: 100%;
   height: 7vh;
   text-transform: uppercase; 
   background-color: #313131;
   color: #c9b8b8;
   font-family: sans-serif;
   padding-bottom: 1vh;
   padding: 1vh 1vw 1vh 1vw;
   display: flex;
   align-content: center;
}

header .menu {
   display: flex;
   align-content: center;
   justify-content: flex-start;
   flex-wrap: wrap;
}

header .menu .menu-item {
   padding: 0.7em;
   height: 1em;
   display: inline-block;
}

.page {
   min-height: 100vh;   
}

.content {
   padding: 0;
   margin: 0;
}

.arrow {
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
}

.collapsed-menu {
   visibility: hidden;
   flex-grow: 0;
}

.page-1 {
   background-color: #489db7;
   
   display: flex;
   align-items: center;
   justify-content: flex-start;
    /*todo - gradient*/
}
.page-1 .content {
   padding: 100px;
   color: white;
   font-size: 6.5vw;
   
}

.page-1 h1 {   
   font-weight: 300;
   margin: 3vh 0;
   font-size: 1em;
}

.page-1 a {
   color: #a1c0cb;
   font-size: 0.5em;
   
}

.page-1 a:hover {
   color: #90acb5;
}

.page-2 .first-line {
   height: 20vh;
   display: flex;
   font-size: 4vw;
}

.page-2 .first-line .text {
   width: calc(100vw - 20vh);
   height: inherit;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgb(52, 52, 52);
   color: #9f82af;
}


.page-2 .first-line .arrow {
   width: 20vh;
   background-color: #db4696;
}

.page-2 .second-line {
   display: flex;
   justify-content: flex-end;
   height: 21vw;
   font-size: 4vw;
}

.page-2 .second-line .arrow {
   background-color: #6914a7;
   flex-grow: 1;
}

.page-2 .second-line img {
   height: 100%;
}

.page-2 .third-line {
   padding: 5vh;
   background-color: #dbdbdb;
}

.page-2 .third-line > * > * {
   padding: 0 3vw;
   box-sizing: border-box;
}

.page-2 .third-line .title {
   color: #489db7;
   font-size: 4vw;
}

.page-2 .third-line .content {
   display: flex;  
   flex-wrap: wrap;
}

.page-2 .third-line .content p {
   max-width: 50%;
}


@media screen and (max-width: 980px) {
   .collapsed-menu {
      visibility: visible;
      display: flex;
      align-content: space-between;
      
   }
   
   .menu {
   }
   
   .page-1 {
      min-height: 50vh;
   }
   
   .page-2 .third-line .content p {
      max-width: 100%;
   }
   
   .page-2 .second-line img {
      width: 100%;
   }
   
   .page-2 .second-line .arrow {
      min-height: 100vh;
   }
   
   .page-2 .second-line {
      flex-direction: column;
      height: 100%;
      justify-content: flex-start;
      font-size: 4vw;
   }

}