body {
    margin: 0;
}

a {
   color: white;
}

header {
   position: fixed;
   box-sizing: border-box;
   width: 100%;
   height: 7vh;
   text-transform: uppercase; 
   background-color: rgba(49, 49, 49, 0.87);
   color: #c9b8b8;
   font-family: sans-serif;
   padding-bottom: 1vh;
   padding: 1vh 1vw 1vh 1vw;
   /*padding-left increases height????*/
   display: flex;
   align-content: center;
}

header .menu {
   display: flex;
   align-content: center;
   justify-content: flex-start;
   flex-wrap: wrap;
}

header .menu .menu-item {
   padding: 0.7em;
   height: 1em;
   display: inline-block;
}

.page {
   min-height: 100vh;   
}

.content {
   padding: 0;
   margin: 0;
}

.page-1 {
   background-color: rgb(72, 157, 183);
   
   display: flex;
   align-items: center;
   justify-content: flex-start;
    /*todo - gradient*/
}

.page-1 .content {
   padding: 100px;
   color: white;
   font-family: sans-serif;
   font-size: 6.5vw;
   
}

.page-1 h1 {   
   font-weight: 300;
   margin: 3vh 0;
   font-size: 1em;
}

.page-1 a {
   color: #a1c0cb;
   font-size: 0.5em;
   
}

.page-1 a:hover {
   color: #90acb5;
}

.page-2 .first-line {
   height: 20vh;
   display: flex;
   font-family: sans-serif;
   font-size: 4vw;
}

.page-2 .first-line .text {
   width: calc(100vw - 20vh);
   height: inherit;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgb(52, 52, 52);
   color: #9f82af;
}

.page-2 .arrow {
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
}

.page-2 .first-line .arrow {
   width: 20vh;
   background-color: #db4696;
}

.page-2 .second-line {
   display: flex;
   justify-content: flex-end;
   height: 21vw;
}


.page-2 .second-line .arrow {
   background-color: #6914a7;
   flex-grow: 1;
}


.page-2 .second-line img {
   height: 100%;
}