
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    margin: 0px;
    padding: 0px;
}
body {
    height: 100%;
  }
a {
    text-decoration: none; /* Убирает подчеркивание для ссылок */
}
.large_screen>ul>li{
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    color:white;
    font-size: 1.5em;
    padding-left: 5%;
    padding-top: 40px;
    padding-bottom: 40px;
}
p:nth-child(1){
    padding-left: 54px;
}

header{
    background-color:#373c3f;
    width: 100%;
    height: 100%;
}

div.banner{
    height: 48%;
    padding: 0%;
    background-color: #0ca2b8;
    
}
div.media{
    height: 38%;
    padding: 0%;
    overflow: hidden;
    width: 100%;
    
} 
.banner>h1 {
    padding-top:5%;
    padding-bottom:5%;
    font-weight:bold; 
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    color:white;
    padding-left: 15%;
   
}
.banner>h2 {
    margin: 0px;
    padding-top: 0%;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    color:white;
    opacity: 0.5;
    padding-left: 15%;
    display: inline-block;
}

.textbox{
    width: 100%;
    overflow: hidden;
    background-color: #27212c;
}
.left{
    float: left;
    height: 100%;
    width: 80%;
}
.left>p{
    color: #9282a0;
    font-family: 'Montserrat', sans-serif;
    padding-top: 80px;
    padding-left: 20%;
    padding-bottom: 40px;
    font-size: 30px;
}
.right{
    float: right;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    color:white;
    width: 20%;
    padding-bottom: 0%;
    background-color: #bc3183;
}
.right>p{
    padding-left: 40%;
    padding-top: 80px;
    padding-bottom: 40px;
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
}


.media img{
    float: left;
    width: 33.333%;
    height: 100%;
    max-height: 600px;
}
.info{
  padding-top: 7%; 
  overflow: hidden;
  height: 100%;
  background-color: #ebebeb;
}

.info h2 {
    padding-left: 7.5%;
    padding-bottom: 2%;
    font-size: 60px;
    font-weight: lighter;
    color: #439cb0;
}

.info > div > article {
    font-size: 1.2em;
    padding: 3.5%;
    display: inline-block;
}
.info > div > article {
    overflow-wrap: break-word;
    font-family: 'Montserrat', sans-serif;
}
.second_paragraph {
    left: 50%;
    float: left;
}

.first_paragraph {
    padding-left: 10%;
    float: left;
    
}
.info > div {
    width: 40%;
}

@media only screen and (min-width: 641px){
.small_screen{
    display: none;
}

}
@media only screen and (max-width: 640px)  {
.large_screen{
    display: none;
}
.left{
    height: 100px;
}
header{
    display: block;
    overflow: hidden;
}

.small_screen>.menu_icon{
    float: right;
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 1%;
}
.small_screen>p{
    float: left;    
    font-size: 1.1em;
    font-family: 'Montserrat', sans-serif;
    color:white;
    padding: 1%;
    padding-left: 10%;
    padding-top: 3%;
    padding-bottom: 3%;

}

.menu_icon div{
    width: 35px;
    height: 3px;
    background-color:white;
    margin: 6px ;
}
.left>p{
    padding-left: 10%;
    font-size: 1.2em;
    padding-top: 7%;
}
.right{
    height: 100px;
}
.right>p{
    padding-left: 40%;
    padding-top: 7%;
    font-size: 2em;
    font-weight: 700;
    line-height: 65px;
}


.banner>h1 {
    font-size: 2em;
}
.banner>h2 {
    font-size: 1.5em;
}
.media img{
    width: 100%;
    height: 100%;
    max-height: 500px;
}
.second_paragraph {
       display: none;
    }
.first_paragraph {
    padding-left: 10%;
}
.info > div {
    width: 80%;
}
.info h2 {
    padding-left: 10%;
    font-size: 2em;
}
 }
@media only screen and (max-width: 980px) and (min-width: 641px) {
   
 .large_screen>ul>li{
    font-size: 1.1em;
    padding: 1%;
    padding-top: 3%;
    padding-bottom: 3%;
}
    
div.banner{
    height: 28%;
}
.banner>h1 {
    padding-top:10%;
    font-size: 2em;
    margin-bottom: 0%;
}
.banner>h2 {
    font-size: 1.5em;
}
.left{
        height: 80%;
    }
.left>p{
    padding-left: 10%;
    font-size: 1.5em;
    padding-bottom: 50px;
}
.right{
    height: 80%;
}

}
@media only screen and (max-width: 500px){

.banner>h1 {
    font-size: 1em;
    padding-left: 15%;
       
}
.banner>h2 {
    font-size: 0.8em;
}

.left{
    height: 60px;
}
.left>p{
    padding-left: 10%;
    font-size: 0.75em;
    padding-top: 4%;
}
.right{
    height: 60px;
}
.right>p{
    padding-left: 40%;
    padding-top: 7%;
    font-size: 2em;
    font-weight: 700;
    line-height: 65px;
        }
.info h2 {
    padding-left: 10%;
    font-size: 1.5em;
        }
.info > div > article {
    font-size: 1em;
    padding: 3.5%;
    display: inline-block;
}
.small_screen>.menu_icon{
    float: right;
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 0.5%;
}
}