<!DOCTYPE html>
<html>
<head>
    <title>My Project</title>
    <meta charset="utf-8">
    <meta name="keywords" content="Some keywords">
    <meta name="description" content="Some description">
    <meta name="viewport" content="width=320, initial-scale=1">
    <link href="~/css/site.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <div class="header-navigation hidden-xs hidden-sm visible-md visible-lg">
                <ul>
                    <li><a href="#">PSD WEEBSITE</a></li>
                    <li><a href="#">UI KITS</a></li>
                    <li><a href="#">PREMIUM PSD</a></li>
                    <li><a href="#">FILES</a></li>
                    <li><a href="#"> ABOUT</a></li>
                    <li><a href="#">BLOG</a></li>
                </ul>
            </div>
            <div class="header-navigation visible-xs visible-sm hidden-md hidden-lg">
                <img class="" src="~/images/Rectangle 1.jpg" alt="Menu">
            </div>
        </nav>
    </header>
    <main>
        <section>
            <div class="main-banner visible-xs visible-sm visible-md visible-lg">
                <img src="~/images/Banner1.jpg" alt="Info">
            </div>

            <div class="main-image_Href visible-xs visible-sm visible-md visible-lg">
                <a>
                    <img src="~/images/Text Box.jpg" alt="Info">
                </a>
            </div>

            <div class="main-gallery visible-xs visible-sm visible-md visible-lg">
                <a>
                    <img src="~/images/1.jpg" alt="Info">
                </a>
                <img src="~/images/2.jpg" alt="Info">
                <img src="~/images/3.jpg" alt="Info">
            </div>
        </section>
        <section>
            <article>
                <h1 class="article-header">BlazRobar.com </h1>
                <div class="article-text">

                    <div class="article-paradraf-one">
                        <p class="visible-xs visible-sm visible-md visible-lg">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            In vestibulum metus vitae eros lobortis, in blandit risus 
                            tincidunt. Morbi nunc orci, mollis pretium arcu sit amet, 
                            ullamcorper pretium diam. Nulla hendrerit mauris tortor, ut 
                            lacinia orci interdum a. Duis molestie sodales elit ac porttitor.
                            In quis euismod tortor, eu posuere sapien. Mauris tincidunt 
                            pulvinar felis id pharetra. Sed lobortis lacus non nulla gravida,
                            ut commodo felis tempor. Aliquam eget nisi facilisis, porttitor
                            urna at, varius quam. Sed ullamcorper odio vel mauris luctus. 
                            Praesent ut urna suscipit, condimentum est a, dignissim dui.
                            Suspendisse non cursus tortor, a cursus tellus. Aenean non blandit turpis.
                        </p>
                        <p class="visible-xs visible-sm visible-md visible-lg">
                            Fusce eleifend est a venenatis hendrerit. Sed vitae ex pretium,
                            euismod augue id, consectetur ipsum. Lorem ipsum dolor sit amet, 
                            consectetur adipiscing elit. Curabitur dapibus, diam eget rhoncus 
                            eleifend, nulla elit tincidunt quam, pharetra pretium nunc odio non 
                            erat. Curabitur porttitor enim ut eros eleifend, at eleifend lorem 
                            bibendum. Duis vitae ipsum eget nunc posuere viverra. Nunc ornare malesuada
                            hendrerit. Sed at sapien in lectus feugiat cursus. Nulla ac ornare velit, eu 
                            auctor velit. Donec semper luctus odio, at egestas elit maximus a. Sed euismod 
                            nisi quam, id laoreet odio egestas quis. Mauris ultrices et ipsum a pharetra.
                        </p>
                    </div>
                    <div class="article-paradraf-two">
                        <p class="hidden-xs hidden-sm visible-md visible-lg">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            In vestibulum metus vitae eros lobortis, in blandit risus
                            tincidunt. Morbi nunc orci, mollis pretium arcu sit amet,
                            ullamcorper pretium diam. Nulla hendrerit mauris tortor, ut
                            lacinia orci interdum a. Duis molestie sodales elit ac porttitor.
                            In quis euismod tortor, eu posuere sapien. Mauris tincidunt
                            pulvinar felis id pharetra. Sed lobortis lacus non nulla gravida,
                            ut commodo felis tempor. Aliquam eget nisi facilisis, porttitor
                            urna at, varius quam. Sed ullamcorper odio vel mauris luctus.
                            Praesent ut urna suscipit, condimentum est a, dignissim dui.
                            Suspendisse non cursus tortor, a cursus tellus. Aenean non blandit turpis.
                        </p>
                        <p class="hidden-xs hidden-sm visible-md visible-lg">
                            Fusce eleifend est a venenatis hendrerit. Sed vitae ex pretium,
                            euismod augue id, consectetur ipsum. Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Curabitur dapibus, diam eget rhoncus
                            eleifend, nulla elit tincidunt quam, pharetra pretium nunc odio non
                            erat. Curabitur porttitor enim ut eros eleifend, at eleifend lorem
                            bibendum. Duis vitae ipsum eget nunc posuere viverra. Nunc ornare malesuada
                            hendrerit. Sed at sapien in lectus feugiat cursus. Nulla ac ornare velit, eu
                            auctor velit. Donec semper luctus odio, at egestas elit maximus a. Sed euismod
                            nisi quam, id laoreet odio egestas quis. Mauris ultrices et ipsum a pharetra.
                        </p>
                    </div>
                </div>
            </article>
        </section>
    </main>
</body>
</html>