.site-navigation__menu
{
	background-color: #333333;
	padding: 0px;
	margin: 0px;	
}

.site-navigation h2, 
.site-navigation div {
	display: none;
}

.site-navigation__menu__list {
	display: none;
}

.site-navigation__menu__icon ul {
	display: none;
}

div {
	padding: 0px;
	margin: 0px;
}

body {
	padding: 0px;
	margin: 0px;
}

a {
	color: white;
	text-decoration: none;
}

li {
	display: inline-block;
	padding: 2%;
	margin: 0px;
}

img {
	width: 100%;
	/*height: 100%;*/
	border-width: 0px;
	margin: 0px;
}

.site-navigation {
	margin: 0px;
}

.container__section--blue { 
	background-color: darkturquoise;
	padding: 10%;
	color: white;
	padding: 10% 0% 10% 15%;
}

.container__section--black {
	background-color: #333333;	
	color: lightblue;

	display: inline-block;
	box-sizing: border-box;
	height: 150px;
	width: 85%;
	font-size: 30px;
	text-align: center;
	vertical-align: top;
	padding: 2% 0%;
}

.container__section--red {
	background-color: mediumvioletred;

	display: inline-block;
	box-sizing: border-box;
	height: 150px;
	width: 15%;
	text-align: center;
}

.container__section--blue h1 {
	font-size: 80px;
}

.container__section--blue .container__section1__text {
	font-size: 30px;
	width: 70%;	
	color: lightblue;
}

.container__section--blue .container__section1__icon {
	width: 15%;
	font-size: 200%;
	float: right;
}

.container__section--red i {
	font-size: 50px;
	padding-top: 25%;
	color: white;
}
/*-------------------------------------------*/
.container__section__gallery {
	background-color: #333333;
	border-width: 0px;
	padding: 0px;
	height: 1px;
}

.container__section__gallery--row {
	width: 34%;
	background-color: indigo;
	float: left;
	font-size: 300%;
	color: white;
	padding: 9% 15% 14% 15%;
	height: 100%;
	box-sizing: border-box;
	text-align: center;
}

.container__section__gallery--bridge {
	width: 33%;
	float: left;
}

.container__section__gallery--deer {
	width: 33%;
	float: right;
}
/*----------------------------------------------*/
.container__section__text-box {
	background: lightgray;
}

.container__section__text-box div:nth-of-type(1) {
	float: left;
	width: 50%;
	box-sizing: border-box;
	padding: 0% 3% 3% 3%;
	background: lightgray;
	vertical-align: top;
}

.container__section__text-box div:nth-of-type(2) {
	float: right;
	width: 50%;
	box-sizing: border-box;
	padding: 0% 3% 3% 3%;
	background: lightgray;
}

.container__section__text-box h2 {
	box-sizing: border-box;
	padding: 2% 0% 0% 5%;
	margin-bottom: 0px;
	color: darkcyan;
}

@media screen and (max-width: 990px){
	
.container__section--blue h1 {
	font-size: 50px;
}

.container__section--blue div {
	font-size: 200%;
}

.container__section--black {
	font-size: 25px;
	padding: 1% 0%;
	height: 100px;
}

.container__section--red {
	height: 100px;
}

.container__section--red i {
	font-size: 40px;
}

}

@media screen and (max-width: 640px){
.site-navigation__menu{
		display: none;
}

.container__section--blue h1 {
	font-size: 30px;
}

.container__section--black {
	font-size: 20px;
	padding: 1% 0%;
	height: 75px;
}

.container__section--red i {
	font-size: 30px;
}

.container__section--red {
	height: 75px;
	padding: 1% 0%;
}

.container__section--blue div {
	font-size: 200%;
}

.site-navigation h2, 
.site-navigation div {
	display: inline-block;
	background-color: #333333;
	color: white;
	box-sizing: border-box;
	margin: 0px;
}

.site-navigation h2 {
	width: 85%;
	top: 0px;
	padding: 3% 3%;
	font-size: 200%;
}

.site-navigation div {
	width: 15%;
	font-size: 200%;
	text-align: center;
	padding: 3% 0%;
}

.container__section__gallery--row, 
.container__section__gallery--bridge, 
.container__section__gallery--deer {
	display: block;
	width: 100%;
}

.container__section__gallery--row {
	padding: 50% 0%;
}

.container__section__text-box div:nth-of-type(1) {
	float: none;
	width: 100%;
	padding-bottom: 0%;
}

.container__section__text-box div:nth-of-type(2) {
	float: none;
	width: 100%;
}

.site-navigation__menu__icon:hover .site-navigation__menu__list ul{
	display: block;
	box-sizing: border-box;
	width: 100%;
	background-color: #333333;
	position: absolute;
	top: 0px;
	left: 0px;
	text-align: center;
}

li {
	display: block;
	font-size: 20px;
}

}