body {
	font-family: Georgia, serif;
	color: white;
	margin: 0;
    background-color:  #1B99B9;
}

header {
	height: 50px;
	font-size: 18px;
	background-color: #708090;
}

.header-title {
	float: left;
}

.button i {
	background-color: #455360;
}

header li:hover {
	color: violet;
	cursor: pointer;
}

.main-article {
	height: auto;
	width: auto;
	padding: 12vw 20vw 12vw 10vw;
	background: linear-gradient(to top left, #1B99B9, #56D4F4);
}

.fas {
	float: right;
}

.secondary-article {
	display: flex;
	height: 10vw;
	align-items: center;
	background: #455360;
	margin-top: 0;
}

.secondary-article span {
	flex: 1 0 auto;
	padding-left: 10vw;
}

.secondary-article div {
	height: 10vw;
	max-height: 10vw;
	align-items: center;
	display: flex;
	flex: 0 0 auto;
	background-color: pink;
}

.secondary-article div i {
	flex: 1 0 auto;
	text-align: center;
	width: 10vw;
}

.galery-section {
	box-sizing: border-box;
	display: flex;
	flex: 1;
	margin: 0;
	background-color: violet;
}

.galery-section div {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
}

.galery-section div:hover {
	background-color: fuchsia;
	cursor: pointer;
}
.galery-section div i {
	font-size: 2em;
} 

.galery-section div img{
	width: 100%;
	height: 100%;
	flex: 1;
}

.text-article {
	display: flex;
	flex-direction: column;
	width: 100%;
	box-sizing: border-box;
	padding: 2em 10vw 5vw 10vw;
	margin: 0;
	background-color: #e6ebed;
}

.text-article {
	display: flex;
	flex-direction: column;
	margin: 0;
}

.text-article h2 {
	color: #0bbde0;
}

.text {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.article-col {
	word-wrap: break-word;
	color: #708090;
}

a {
	color: inherit;
}

header a:hover {
	color: violet;
}

main a {
	text-decoration: none;
}

.text-article h2:hover,
#main-a:hover {
	text-decoration: underline;
}

.secondary-article div:hover {
	background-color: #FF1493;
}

.galery-section a:hover {
	color: #56D4F4;
}