.nav-head {
	padding: 1.1rem;
	font-size: 1.2rem;
	color: white;
}

.nav-bar ul li:hover {
	background-color: lightgray;
}

.nav-bar ul {
	display: none;
}

.nav-elem {
	display: block;
	position: relative;
	z-index: 1;
	width: 90%;
	padding: 0.8rem;
}

.nav-links i {
	color: white;
	position: absolute;
	padding: 1rem;
	height: 100%;
	top: 5px;
	left: 93%;
}

.nav-bar:hover ul {
	display: block;
}