.nav-head {
	display: none;
}

.nav-links i {
	display: none;
}
.nav-elem {
	padding: 1rem;
	margin: -1rem;
	margin-right: 1rem;
	font-size: 0.8rem;
	display: inline;
}

.nav-elem a {
	padding: 1rem;
	margin: -1rem;
}