.main-menu {
	margin-top: 0;
	list-style: none;
	list-style-position: initial;
	padding: 16px 10vw;
}

li {
	font-size: 12px;
	display: inline;
	text-transform: uppercase;
	padding-left: 30px;
}

.header-title,
.menu {	
	display: none;
}

.galery-section div {
	width: 33%;
}

.article-col {
	width: 49%;
}