@media only screen and (min-width: 980px) {

.menu__item,
.main__content p {
	font-size: 20px;
}
.main h1 {
	font-size: 46px;
}
.menu__item_bars {
	display: none;
}
.menu__item_hidden, .menu__item_home {
	display: block;
	flex-basis: 20%;
}
.menu__item_home i {
	display: inline;
}
.header__bottom {
    flex-direction: row;
}
.header__bottom__col {
	flex-basis: 33.333%;
}
.main__content {
	display: flex;
	flex-direction: row;
}
.main__content__col {
	flex-basis: 50%;
	padding-right: 5vw;
}

}