@media (max-width: 979px)
{
  .nav-narrow {
    height: 11.5vw;
    padding-left: 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  .nav-menu {
    display: none;
    position: absolute;
    width: 27vw;
    padding: 0;
    margin: 0 0 0 73vw;
    opacity: 0.85;
  }

  .nav-text {
    font-size: 4vw;
    color: rgb(235, 235, 235);
  }

  .menu {
    padding: 2vw 0 2vw 2vw;
    font-size: 2.5vw;
    background-color: rgb(60, 60, 60);
    color: rgb(235, 235, 235);
    border-top: 0.1vw solid rgb(235, 235, 235);
  }

  .navigation:hover .nav-menu{
    display: block;
  }

  .nav-button {
    height: 100%;
    width: 15vw;
  }

  .center {
    flex-direction: column;
  }

  .third-block-arrow {
    font-size: 15vw;
  }

  .bridge-block,
  .girl-block,
  .third-block {
    width: 100%;
    height: 86vw;
  }

  .main-block {
    padding: 12vw;
  }

  .text-block-title {
    font-size: 6vw;
  }

  .second-text-column {
    display: none;
  }

  .text-block {
    font-size: 4vw;
  }
}
