body{
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}
header{
  background-color: #373c3f;
  padding: 3%;
  font-size: 1.3vw;
  color: white;
}

.small-menu{
  display: none;
}
.big-menu {
  display: flex;
  justify-content: space-between;
  width: 50%;
  list-style: none;
}

header a{
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.big-box{
  display: flex;
  flex-direction: column;
  background:linear-gradient(45deg, #19b4c6, #078aa4);
  padding: 10% 7% 9% 5%;
  color: white;
}
.big-box h1{
  font-size: 5.5vw;
}
.big-box h2 span{
  color: rgba(255,255,255,0.5);
  font-size: 3vw;
}

.big-box .fas{
  font-size: 4.5vw;
  margin-left: 35%;
}

.miniblocks{
  display: flex;
  align-items: baseline;
  text-align: center;
  font-size: 2vw;
  background-color: #B40486;
}

.text-gallery{
  width: 100%; /*от чего*/
  padding: 3.2em 1em;
  background-color: #27212c;
  color: #9282a0;
}

.pink-box{
  width: 30%;
  font-size: 5vw;
  color: #fff;
  text-align: center;
}

.down-gallery{
  display: flex;
}

.down-gallery img{
  width: 33.3%;
  height: 100%;
}
.purple-box{
  width:33.3%;
  background-color:#5b0fa1;
  font-size: 5vw;
  color: #fff;
  text-align: center;
}
 .purple-box i{
  padding: 35%;
}

footer{
  display: flex;
  background-color: #ebebeb;
  color: #515151;
  font-size: 1.2vw;
  padding: 5em;
}
footer h2{
  color: #088ca5;
}

.left-col{
  float:left;
  width: 40%
}
.right-col{
  float:right;
  width:40%;
}

.wrapper {
  margin: 0 auto;
}

@media(max-width: 640px) {
  .big-menu{
    display: none;
  }
  header{
    padding: 0% 0% 0% 4%;
  }
  .small-menu{
    display: flex;
    justify-content: space-between;
  }
  .small-menu p{
    color:#f3f2f2;
    font-size: 3.3vw;
    font-weight: bold;
    padding: 4% 0%;
    margin: 0;
  }
  .small-menu a{
    padding: 3%;
    background-color: #202529;
    font-size: 5vw;
  }
  .down-gallery{
    flex-direction: column;
  }
  .purple-box{
    width: 100%;
    }
  .purple-box i{
    padding: 40%;
    }
  .down-gallery img{
    width: 100%;
  }
  .left-col, .right-col{
    float: none;
    width: 100%
  }
  footer{
    font-size: 3vw;
  }

}
