@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap);

*,
:after,
:before {
    box-sizing: border-box;
    -webkit-appearance: none;
}

body,
html {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: Montserrat, sans-serif;
}

.navigation {
    background: #3b3e41;
}

.navigationConsole {
    display: flex;
}

.navigationConsoleTitle {
    flex-grow: 1;
    color: #fff;
    padding: 10px 20px;
    font-size: 13px;
    font-weight: 500;
}

@media (min-width:640px) {
    .navigationConsoleTitle {
        font-size: 24px;
        padding: 22px 37px;
    }
}

@media (min-width:980px) {
    .navigationConsoleTitle {
        display: none;
    }
}

.navigationMenu {
    background: #202529;
    padding: 9px 11px;
}

@media (min-width:640px) {
    .navigationMenu {
        padding: 24px 21px;
    }
}

@media (min-width:980px) {
    .navigationMenu {
        display: none;
    }
}

.navigationMenuIcon {
    width: 15px;
    height: 10px;
}

@media (min-width:640px) {
    .navigationMenuIcon {
        width: 31px;
        height: 20px;
    }
}

.navigationLists {
    display: none;
}

@media (min-width:980px) {
    .navigationLists {
        display: flex;
        padding: 0 39px;
    }
}

.navigationList {
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    color: #ebebeb;
    padding: 39px 14px;
}

.navigationListHome {
    color: #fff;
}

.banner {
    padding: 57px 55px 50px 25px;
    background: #0ca3b9 linear-gradient(119deg, #19b4c6, #078aa4);
    color: #fff;
}

@media (min-width:640px) {
    .banner {
        padding: 95px 125px 92px 52px;
    }
}

@media (min-width:980px) {
    .banner {
        padding: 153px 190px 149px 5pc;
    }
}

@media (min-width:1024px) {
    .banner {
        padding: 163px 200px 158px 86px;
    }
}

.bannerTitle {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 600;
}

@media (min-width:640px) {
    .bannerTitle {
        font-size: 39px;
        margin-bottom: 40px;
    }
}

@media (min-width:980px) {
    .bannerTitle {
        font-size: 60px;
        margin-bottom: 60px;
    }
}

@media (min-width:1024px) {
    .bannerTitle {
        font-size: 62px;
        margin-bottom: 62px;
    }
}

.bannerLink {
    color: hsla(0, 0%, 100%, .5);
    font-size: 10px;
}

@media (min-width:640px) {
    .bannerLink {
        font-size: 22px;
    }
}

@media (min-width:980px) {
    .bannerLink {
        font-size: 34px;
    }
}

@media (min-width:1024px) {
    .bannerLink {
        font-size: 35px;
    }
}

.bannerLinkArrow {
    float: right;
    width: 6px;
    height: 10px;
}

@media (min-width:640px) {
    .bannerLinkArrow {
        width: 9pt;
        height: 20px;
    }
}

@media (min-width:980px) {
    .bannerLinkArrow {
        width: 15px;
        height: 25px;
    }
}

@media (min-width:1024px) {
    .bannerLinkArrow {
        width: 19px;
        height: 28px;
    }
}

.textBox {
    display: flex;
    background: #27212c;
}

.textBoxText {
    flex-grow: 1;
    color: #9282a0;
    padding: 31px 25px;
    font-size: 10px;
}

@media (min-width:640px) {
    .textBoxText {
        padding: 63px 55px;
        font-size: 20px;
    }
}

@media (min-width:980px) {
    .textBoxText {
        padding: 99px 84px 6pc;
        font-size: 30px;
    }
}

@media (min-width:1024px) {
    .textBoxText {
        padding: 103px 88px;
        font-size: 31px;
    }
}

.textBoxArrow {
    background: #a23480;
    padding: 28px 30px;
}

@media (min-width:640px) {
    .textBoxArrow {
        padding: 60px 67px 59px;
    }
}

@media (min-width:980px) {
    .textBoxArrow {
        padding: 97px 105px 6pc;
    }
}

@media (min-width:1024px) {
    .textBoxArrow {
        padding: 75pt 110px 101px;
    }
}

.textBoxArrowIcon {
    width: 9px;
    height: 14px;
}

@media (min-width:640px) {
    .textBoxArrowIcon {
        width: 1pc;
        height: 27px;
    }
}

@media (min-width:980px) {
    .textBoxArrowIcon {
        width: 22px;
        height: 35px;
    }
}

@media (min-width:1024px) {
    .textBoxArrowIcon {
        width: 24px;
        height: 39px;
    }
}

.photos {
    display: flex;
    flex-direction: column;
    align-content: stretch;
}

@media (min-width:980px) {
    .photos {
        flex-direction: row;
        align-content: normal;
    }
}

.photoStrelka,
.photoMost,
.photoDevyska {
    position: relative;
}

@media (min-width:980px) {

    .photoStrelka,
    .photoMost,
    .photoDevyska {
        flex: 1 1 0;
    }
}

.photoStrelka {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #5b0fa1;
    height: 86.87vw;
}

@media (min-width:980px) {
    .photoStrelka {
        height: auto;
    }
}

@media (min-width:640px) {
    .photoStrelkaImage {
        width: 35px;
        height: 57px;
    }
}

@media (min-width:980px) {
    .photoStrelkaImage {
        width: 20px;
        height: 31px;
    }
}

.photoImage {
    width: 100%;
    vertical-align: middle;
}

.footer {
    background: #ebebeb;
    padding: 35px;
}

@media (min-width:640px) {
    .footer {
        padding: 75px;
    }
}

.footerTitle {
    font-weight: 600;
    font-size: 19px;
    color: #4f8ba2;
}

@media (min-width:640px) {
    .footerTitle {
        font-size: 30px;
    }
}

.footerTexts {
    font-size: 9pt;
    line-height: 1.58;
    color: #515151;
}

@media (min-width:640px) {
    .footerTexts {
        font-size: 22px;
    }
}

@media (min-width:980px) {
    .footerTexts {
        font-size: 14px;
        line-height: 1.8571;
        -moz-column-count: 2;
        column-count: 2;
        grid-column-gap: 70px;
        -moz-column-gap: 70px;
        column-gap: 70px;
    }
}