@media only screen and (min-width: 641px){

    .navigation__panel_visible{
        display: none;
    }

    .navigation__panel_hidden{
        display: unset;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        height: 100%;
    }
      
    .navigation__panel-item{
        float: left;
        width: 20%;
        height: 100%;
    }
      
    .navigation__panel-link{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: white;
        font-size: calc(10px + 0.25vw);
        text-align: center;
    }
      
    .navigation__panel-link:hover{
        background-color: black;
        color: red;
    }

    .imgs{
        flex-flow: row;
    }

    .imgs__link{
        height: auto;
        width: 33.333%;
        font-size: 4vw;
    }
    
    .imgs__item{
        width: 33.333%;
    }

    .text__title{
        font-size: 30px;
    }

    .text__paragraphs{
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .text__paragraphs-content{
        font-size: 14px;
        width: 50%;
    }

    .text__paragraphs-content:not(:last-child){
        margin-right: 50px;
        padding-left: 20px;
    }

    .text__paragraphs-content:last-child{
        margin-right: 20px;
    }
}