@media only screen and (min-width: 641px){

    .navigation .big-hidden{
        display: none;
    }

    .navigation .hidden-panel{
        display: unset;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        height: 100%;
    }
      
    .hidden-panel .nav-element {
        float: left;
        width: 20%;
        height: 100%;
    }
      
    .hidden-panel .nav-element .nav-link {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: white;
        font-size: calc(10px + 0.25vw);
        text-align: center;
    }
      
    .hidden-panel .nav-element .nav-link:hover {
        background-color: black;
        color: red;
    }

    .imgs{
        flex-flow: row;
    }

    .imgs .img-link{
        height: auto;
        width: 33.333%;
        font-size: 4vw;
    }
    
    .imgs .img-content{
        width: 33.333%;
    }

    .text .text-title{
        font-size: 30px;
    }

    .text-paragraphs {
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .text-paragraphs .par-gf{
        font-size: 14px;
        width: 50%;
    }

    .text-paragraphs .par-gf:not(:last-child){
        margin-right: 50px;
        padding-left: 20px;
    }

    .text-paragraphs .par-gf:last-child{
        margin-right: 20px;
    }
}