@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  font-family: "Montserrat";
}

body {
    margin: 0;
    padding: 0;
    background-color: #d5d5d8; 
}

.fa-angle-right{
    color: white;
}
/* bcz i need simular style for all links */
a, a:visited, a:active, a:link {
    outline: none;
    color: #ebebeb;
    text-decoration: none;
}

.navigation .hidden-panel{
    display: none;
}

.navigation{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #373c3f;
    height: 9vw;
    max-height: 100px;
    color: #ebebeb;
    font-size: 4vw;
}

.navigation .home{
    margin: 0;
    display: inline-block;
    padding: 2% 0 0 5%;
}

.dropdown {
    height: 100%;
    width: 10%;
    overflow: hidden;
    background-color: #2e2c2c;
    float: right;
  }
  
.drop {
    padding: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
  
.dropdown:hover .drop {
    background-color: red;
}
  
.drop-content {
    margin: 0;
    padding: 0;
    list-style-type: none;
    right: 0;
    display: none;
    position: absolute;
    background-color: #373c3f;
    z-index: 1;
}
  
.drop-content a {
    color: #ebebeb;
    padding: 12px 16px;
    display: block;
    text-align: left;
}
  
.drop-content a:hover {
    background-color: #000000;
    color: red;
}
  
.dropdown:hover .drop-content {
    display: block;
}

.banner{
    background: linear-gradient(to top left, #0a8ab4, #19b4c6);
    color: #a8d7e0;
    font-size: 3vw;
    width: 100%;
    height: 50vw;
}
.banner .banner-content{
    width: 75%;
    padding: 10%;
}

.banner .banner-content .banner-title{
    font-size: 5vw;
    color: #ffffff;
}

.banner .banner-content .banner-link .banner-arrow{
    float: right;
    padding-right: 20%;
}

.box{
    display: flex;
    width: 100%;
    height: 20vw;
}

.box .box-title{
    margin: 0;
    background-color: #27212c;
    color: #9282a0;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    font-size: 2vw;
    width: 75%;
}

.box .box-link{
    width: 25%;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    background-color: #bc3183;
    font-size: 4vw;
}

.imgs{
    width: 100%;
    display: flex;
    flex-flow: column;
    overflow: hidden;
}

.imgs .img-content{
    margin: 0;
    width: 100%;
    height: 100%;
}

.imgs .img-link{
    justify-content: center;
    display: inline-flex;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 83.5vw;
    font-size: 10vw;
    background-color: #5b0fa1;
}

.text{
    padding: 3%;
    background-color: #d5d5d8;
}

.text .text-title{
    color: #088ca5;
    font-size: calc(19px + 1vw);
    padding: 0px 18px;
}

.text-paragraphs {
    padding: 0px 18px;
    font-size: 4.1vw;
    display: inline-block;
}

