.Head-menu-container-computer {
  display: flex;
  padding-left: 4%;
  background: gray;
}

.Head-menu-block-computer {
  padding: 2%;
  font-size: 2vw;
  color: white;
}

.Head-menu-container-phone{
  display:none;
  width: 100%;
  height: auto;
  background: gray;
}

.Head-menu-block-phone {
  background: gray;
  color: white;
  width:89%;
  float:left;
  margin: auto;
  padding-left: 6%;
  font-size: 5vw;
}

.Head-menu-container-phone .fas{
    color:white;
    background:black;
    float: right;
    padding: 3%;
    font-size: 6vw;
    text-align:center;
}

@media(max-width: 640px) {
.head-menu-container-computer{
	display:none;
}

.Head-menu-container-phone{
	display:flex;
}
}

.Blazrobar-link-group {
	width: 100%;
	height: auto;
	overflow: auto;
	background:#078ba4;
}

.Blazrobar-link-group h1 {
	padding-top: 25%;
	padding-left: 10%;
	text-align: left;
	font-size: 6vw;
	color: white;
}

.Blazrobar-link-group p{
	padding-left: 10%;
	padding-bottom: 15%;
	float: left;
	color: #a6d6d5;
	text-align: left;
	font-weight: bold;
	font-size: 3.5vw;
}

.Blazrobar-link-group i{
	padding-top: 3%;
	padding-bottom:15%;
	padding-left: 25%;
	float: left;
	color: white;
}

.Arrow-right-container {
 display: flex;
 width: 100%;
 height: auto;
}

.Arrow-right-text-block {
   padding: 7%;
   font-size: 3vw;
   background:#27212c;
   color: gray;
   text-align: center;
   width: 80%;
}

.Arrow-right-container .fas {
   background: #bc3183;
   color:white;
   padding:6.5%;
   width: auto;
   height: auto;
   text-align:center;
}

.Picktures-container {
   width: 100%;
   display:flex;
   justify-content: space-between;
   flex-direction: row;

}

.Picktures-container img {
  width:33.5%;
  height:33.5%;
}

.Picktures-container .fas {
  background:#5b0fa1;
  padding:12.5%;
  width: 33%;
  height: auto;
  color:white;
}

h4{
  margin: 0;
  padding-top: 8%;
  padding-left: 8%;
  padding-bottom: 5%;
  color: #088ca5;
  font-weight: bold;
  font-size: 4vw;
  background-color: #ebebeb
}

.Text{
  margin: 0;
  color: #515151;
  column-count: 2;
  background-color: #ebebeb
}

.Text p{
	padding-left: 8%;
	padding-bottom: 4%;
	font-size: 1.5vw;
}

@media(max-width: 640px){

  .Picktures-container{
  	display:flex;
  	flex-direction: column;
  }
  .Picktures-container img{
  	width: 100%;
  	height: auto;
  }

  .Picktures-container .fas{
  padding:33.5%

  }

.Text{
	column-count: 1;
}

.Text p{
	padding-bottom: 2%;
	line-height: 2;
	font-size: 3vw;
}

.Text-hide-640px{
	display:none;
}
}
