* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.full-width{
    width: 100%;
}

body {
    width: 100%;
    max-width: 1080px;
/*    min-width: 300px;*/
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    background-color: #ebebeb;
    color: black;
}

.menu {
/*

*/
    width: 100%;
    max-width: 1080px;
    z-index: 1;
    position: fixed;
    background-color: #373c3f;
    flex-wrap: wrap;
    top: 0;
}

.small-screen-menu {
    font-weight: 500;
}

.small-screen-menu span {
    width: 87%;
    padding-left: 7%;
    padding-bottom: 3.7%;
    padding-top: 3.7%;
    align-items: center;
    color: white;
}

.small-screen-menu .menu-button {
    width: 13%;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}

.big-screen-menu {
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 700;
}

.big-screen-menu ul {
    list-style: none;
}

.big-screen-menu a {
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    justify-content: center;
    color: white;
}

.big-screen-menu a:hover {
    color: #a0a0a0;
}

.banner {
    position: relative;
    background: linear-gradient(to bottom right, #23c4d7, #078aa4);
    margin-top: 15px;
}

.banner-content {
    position: absolute;
    left: 10%;
    top: 60%;
    color: white;
}

.banner-content .description {
    font-weight: bold;
}

.banner-content .link {
    margin-top: 3%;
}

.banner-content .link span {
    width: 90%;
    color: #a6d5df;
}

.banner-content .link i {
    width: 10%;
    color: white;
    text-align: right;
}

.content1 {
    background-color: #dc53d0;
}

.content1 .description{
    width: 80%;
    padding: 3em;
    background-color: #27212c;
    color: #82738f;
}

.content1 a {
    width: 20%;
    margin-top: 1px;
    align-items: center;
    justify-content: center;
    background-color: #bc3183;
}

.content1 i {
    text-align: center;
}

.gallery {
    flex-wrap: wrap;
}

.gallery a {
    align-items: center;
    justify-content: center;
    background-color: #5b0fa1;
}

.gallery i {
    color: white;
}

main article {
    padding: 3em 2em;
}

main article h1 {
    color: #088ca5;
}

main article div {
    flex-wrap: wrap;
    justify-content: space-between;
}

main article p {
    line-height: 2em;
}
