body{
    background-color: white;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    font-weight: normal;
    overflow-x: hidden;
}
header{
    background-color: #727288;
}
.header,
.address{
    margin: 0%;
}
.navigation{
    padding: 1%;
}
.navigation .fas{
    display: none;
}
.navigation .links>li>a{
    text-decoration: none;
    color: white;
}
.navigation>.header{
    display: none;
    margin: 0%;
}

.navigation>.menu>.links{
    list-style: none;
}
.menu>.links>li{
    padding-right: 10px;
    display: inline;
}
.menu>.links>li>a:hover{
    color: lightgray;
}



.block-first{
    background-color: #00cccc;
    height: 350px;
    padding-left: 10%;
    padding-top: 10%;
}
.block-first>div{
    display: inline-flex;
    flex-direction: column;
    align-content: center;
}
.block-first .link{
    display: inline-flex;
    justify-content: space-between;
}
.block-first .link:hover{
    color: lightgray;
}

.block-first .header{
    font-size: 60px;
}

.block-first .link>.address{
    font-size: 30px;
    margin: 0%;
}
.block-second{
    display: flex;
    height: 150px;
    padding-left: 10%;
    background-color: black;
}


.block-second>.link{
    display: flex;
    width: 100%;
    min-width: 0%;
    background-color: mediumvioletred;
}
.block-second>.header-block{
    display: flex;
    width: 100%;
    background-color: black;
}
.block-second>.header-block>.header{
    align-self: center;
    white-space: nowrap;
    padding-right: 5%;
    font-size: 30px;
}
.block-second>.link>.fas{
    align-self: center;
    padding-right: 50%;
    padding-left: 50%;
    overflow: hidden;
}
.block-second>.link:hover{
    color: lightgray;
}

.block-third{
    display: flex;
    flex-flow: row;
    height: 200px;
}
.block-third>.link{
    display: flex;
    background-color: darkslateblue;
    width: 100%;
    min-width: 0%;
    min-height: 0%;
}
.block-third>.link>.fas{
    align-self: center;
    padding-left: 50%;
    padding-right: 50%;
}
.block-third>.link:hover{
    color: lightgray;
}
.block-third>.pic{
    height: 100%;
}
.content{
    background-color: lightgray;
    color: black;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.content>.header{
    font-size: 30px;
    color: cadetblue;
    margin: 0%;
}
.content>.text{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    line-height: 170%;
}
.content>.text>p{
    width: 45%;
}

@media screen and (max-width: 860px){
    .block-third{
        height: 170px;
    }

}

@media screen and (max-width: 750px)
{
    .block-first .header{
        font-size: 50px;
    }
    .block-first .address{
        font-size: 25px;
    }

}

@media screen and (max-width: 640px){
    .navigation>.menu{
        display: flex;
        overflow: hidden;
    }
    .navigation>.menu>.links
    {
        display: none;
    }
    .navigation{
        display: flex;
        justify-content: space-between;
        padding: 0%;
        position: relative;
    }
    .navigation>.header{
        display: inline-flex;
        font-size: 160%;
        padding-top: 3%;
        padding-bottom: 3%;
        padding-left: 5%;
    }
    .navigation>.menu>.fas{
        display: flex;
        background-color: #404040;
    }
    .navigation>.menu>.fas::before
    {
        display: inline;
        align-self: center;
        padding: 10px;
    }
    .navigation>.menu>.fas:hover{
        background-color:lightgrey;
        color: #727288;
    }
    .navigation>.menu:hover>.links{
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: lightgray;
        left: 0%;
        top: 70%;
        width: 100%;
        padding: 0%;
    }
    .navigation>.menu>.links>li{
        padding-left: 5%;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    .navigation>.menu>.links>li:hover{
        background-color: #404040;
        color: white;
    }
    .navigation>.menu>.links>li>a{
        display: block;
        width: 100%;
        height: 100%;
    }

    .block-first{
        height: 230px;
    }
    .block-first .header{
        font-size: 35px;
    }

    .block-first .link>.address{
        font-size: 16px;
    }
    .block-second{
        height: 75px;
    }
    .block-second>.header-block>.header{
        font-size: 16px;
    }
    .block-second>.link>.fas{
        font-size: 2em;
    }
    .block-third{
        flex-direction: column;
        height: fit-content;
    }
    .block-third>.link{
        padding-top: 45%;
        padding-bottom: 45%;
    }
    .block-third>.pic{
        max-width: 100%;
        height: auto;
    }
    .block-third>.link>.fas{
        font-size: 5em;
    }
    .content>.text>p{
        width: 100%;
    }

}



@media screen and (max-width: 320px)
{
    .navigation .fas{
        font-size: 1em;
    }
    .navigation>.header{
        font-size: 50%;
    }
    .navigation>div>ul>li{
        font-size: 0.7em;
    }
    .block-first{
        height: 100px;
    }
    .block-first .header{
        font-size: 18px;
    }

    .block-first .link>.address{
        font-size: 10px;
    }
    .block-first .link>.fas{
        font-size: 1em;
    }
    .block-second{
        height: 50px;
    }
    .block-second>.header-block>.header{
        font-size: 10px;
    }
    .block-second .link>.fas{
        font-size: 1em;
    }
    .block-third .link>.fas{
        font-size: 2em;
    }
    .content>.header{
        font-size: 40%;
    }
    .content>.text{
        font-size: 0.5em;
    }

    @media screen and (max-width: 290px){
        .block-first{
            height: 70px;
        }
        .block-second{
            height: 30px;
        }
        .block-first .header{
            font-size: 10px;
        }
        .block-first .link>.address{
            font-size: 5px;
        }
        .block-first .link>.fas{
            font-size: 0.5em;
        }
        .block-second>.header-block>.header{
            font-size: 5px;
        }
        .block-second .link>.fas{
            font-size: 0.5em;
        }

    }
}